<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>MOVIES CRUD</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <form method="post" action="/movie">
        <div class="form-group">
            <label for="firstName">Introduza o ID</label>
            <input type="text" class="form-control" name="firstName" id="firstName"
                   placeholder="Introduza o ID do filme">
        </div>
        <div class="form-group">
            <label for="lastName">Introduza o nome do filme</label>
            <input type="text" class="form-control" name="lastName" id="lastName"
                   placeholder="Introduza o nome do filme" disabled>
        </div>

    </form>
    <div class="container1">
        <form method="get" action="/api/v1/movies/1" style="left: 50px; position: relative;top: 22px;}">
            <button type="submit" class="btn btn-primary">Get Movie</button>
        </form>
    </div>

    <div class="container2">
        <form method="get" action="/api/v1/movies" style="left: 170px; position: relative;bottom: 15px;}">
            <button type="submit" class="btn btn-primary">Get Movies</button>
        </form>
        <!--GET USERS-->
    </div>
</div>
</body>
</html>